<launch>
    <param name="/use_sim_time" value="true"/>
    <!-- Launch turtle bot world -->
    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"/>
    <!-- Run the map server -->
    <arg name="map_file" default="$(find turtlebot_gazebo)/maps/playground.pgm"/>

    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file) 0.05"/>
    <!--
    Publish a static transformation between /map and /odom
    -->
    <node name="tf" pkg="tf" type="static_transform_publisher" args="6.9 5.9 0.0 0.0 0.0 0.0 /map /odom 100"/>
    <!-- Launch coverage node -->
    <node name="coverage_node" pkg="coverage" type="coverage_node.py" output="screen" cwd="node"/>
    <param name="robot_diameter" value="0.35"/>

</launch>
